@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.19 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: "Mona Sans", sans-serif;
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

main{
  width: 100%;
  overflow-x: hidden;
}

nav{
  position: fixed;
  z-index: 50;
  width: 100%;
  div{
    width: 100%;
  }
  @media (min-width: 640px){
    div{
      max-width: 640px;
    }
  }
  @media (min-width: 768px){
    div{
      max-width: 768px;
    }
  }
  @media (min-width: 1024px){
    div{
      max-width: 1024px;
    }
  }
  @media (min-width: 1280px){
    div{
      max-width: 1280px;
    }
  }
  @media (min-width: 1536px){
    div{
      max-width: 1536px;
    }
  }
  div{
    margin-left: auto;
    margin-right: auto;
  }
  div{
    display: flex;
  }
  div{
    flex-direction: column;
  }
  div{
    align-items: center;
  }
  div{
    gap: 1.25rem;
  }
  div{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
  div{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  @media (min-width: 768px){
    div{
      flex-direction: row;
    }
  }
  @media (min-width: 768px){
    div{
      justify-content: space-between;
    }
  }
  @media (min-width: 1024px){
    div{
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  p{
    margin-bottom: -0.5rem;
  }
  p{
    font-family: "Modern Negra", sans-serif;
  }
  p{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  a{
    cursor: pointer;
  }
  a{
    text-wrap: nowrap;
  }
  a{
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  @media (min-width: 768px){
    a{
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
  ul{
    gap: 1.75rem;
  }
  ul{
    display: flex;
  }
  ul{
    align-items: center;
  }
  ul{
    justify-content: center;
  }
  @media (min-width: 1024px){
    ul{
      gap: 3rem;
    }
  }
}

#hero{
  position: relative;
  z-index: 10;
  min-height: 100dvh;
  width: 100%;
  border-width: 1px;
  border-color: transparent;
  h1{
    margin-top: 10rem;
  }
  h1{
    text-align: center;
  }
  h1{
    font-family: "Modern Negra", sans-serif;
  }
  h1{
    font-size: 6rem;
    line-height: 1;
  }
  h1{
    line-height: 1;
  }
  @media (min-width: 768px){
    h1{
      margin-top: 8rem;
    }
  }
  @media (min-width: 768px){
    h1{
      font-size: 20vw;
    }
  }
  .left-leaf{
    position: absolute;
  }
  .left-leaf{
    left: 0px;
  }
  .left-leaf{
    bottom: -5rem;
  }
  .left-leaf{
    width: 33.333333%;
  }
  @media (min-width: 768px){
    .left-leaf{
      top: 5rem;
    }
  }
  @media (min-width: 768px){
    .left-leaf{
      bottom: auto;
    }
  }
  @media (min-width: 768px){
    .left-leaf{
      width: -moz-fit-content;
      width: fit-content;
    }
  }
  @media (min-width: 1280px){
    .left-leaf{
      top: 9rem;
    }
  }
  @media (min-width: 1536px){
    .left-leaf{
      top: 13rem;
    }
  }
  .right-leaf{
    position: absolute;
  }
  .right-leaf{
    right: 0px;
  }
  .right-leaf{
    top: 50%;
  }
  .right-leaf{
    width: 6rem;
  }
  @media (min-width: 768px){
    .right-leaf{
      bottom: 0px;
    }
  }
  @media (min-width: 768px){
    .right-leaf{
      width: -moz-fit-content;
      width: fit-content;
    }
  }
  @media (min-width: 1280px){
    .right-leaf{
      top: 0px;
    }
  }
  @media (min-width: 1536px){
    .right-leaf{
      top: 3rem;
    }
  }
  .body{
    width: 100%;
  }
  @media (min-width: 640px){
    .body{
      max-width: 640px;
    }
  }
  @media (min-width: 768px){
    .body{
      max-width: 768px;
    }
  }
  @media (min-width: 1024px){
    .body{
      max-width: 1024px;
    }
  }
  @media (min-width: 1280px){
    .body{
      max-width: 1280px;
    }
  }
  @media (min-width: 1536px){
    .body{
      max-width: 1536px;
    }
  }
  .body{
    position: absolute;
  }
  .body{
    left: 50%;
  }
  .body{
    top: auto;
  }
  .body{
    margin-left: auto;
    margin-right: auto;
  }
  .body{
    display: flex;
  }
  .body{
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .body{
    align-items: flex-end;
  }
  .body{
    justify-content: space-between;
  }
  .body{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  @media (min-width: 768px){
    .body{
      top: 30vh;
    }
  }
  @media (min-width: 1024px){
    .body{
      bottom: 5rem;
    }
  }
  .body {
    .content{
      margin-left: auto;
      margin-right: auto;
    }
    .content{
      display: flex;
    }
    .content{
      width: 100%;
    }
    .content{
      flex-direction: column;
    }
    .content{
      align-items: center;
    }
    .content{
      justify-content: space-between;
    }
    .content{
      gap: 2.5rem;
    }
    @media (min-width: 1024px){
      .content{
        flex-direction: row;
      }
    }
    @media (min-width: 1024px){
      .content{
        align-items: flex-end;
      }
    }
    .content {
      p:nth-of-type(2){
        max-width: 36rem;
      }
      p:nth-of-type(2){
        font-family: "Modern Negra", sans-serif;
      }
      p:nth-of-type(2){
        font-size: 3.75rem;
        line-height: 1;
      }
      p:nth-of-type(2){
        --tw-text-opacity: 1;
        color: rgb(231 211 147 / var(--tw-text-opacity, 1));
      }
      p:last-of-type{
        text-align: center;
      }
      @media (min-width: 1536px){
        p:last-of-type{
          text-align: start;
        }
      }
      .view-cocktails{
        width: 100%;
      }
      .view-cocktails > :not([hidden]) ~ :not([hidden]){
        --tw-space-y-reverse: 0;
        margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
      }
      .view-cocktails{
        font-size: 1.125rem;
        line-height: 1.75rem;
      }
      @media (min-width: 768px){
        .view-cocktails{
          max-width: 20rem;
        }
      }
      .view-cocktails {
        p{
          text-align: left;
        }
        a{
          text-align: center;
        }
        a{
          font-weight: 600;
        }
        a{
          opacity: 0.8;
        }
        a:hover{
          --tw-text-opacity: 1;
          color: rgb(231 211 147 / var(--tw-text-opacity, 1));
        }
        @media (min-width: 1536px){
          a{
            text-align: start;
          }
        }
      }
    }
  }
}

video{
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 50%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

@media (min-width: 768px){
  video{
    height: 80%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

#cocktails{
  position: relative;
  min-height: 100dvh;
  width: 100%;
  overflow: hidden;
  #c-left-leaf{
    position: absolute;
  }
  #c-left-leaf{
    left: 0px;
  }
  #c-left-leaf{
    top: -5rem;
  }
  #c-left-leaf{
    width: 33.333333%;
  }
  @media (min-width: 768px){
    #c-left-leaf{
      bottom: 0px;
    }
  }
  @media (min-width: 768px){
    #c-left-leaf{
      top: auto;
    }
  }
  @media (min-width: 768px){
    #c-left-leaf{
      width: -moz-fit-content;
      width: fit-content;
    }
  }
  #c-right-leaf{
    position: absolute;
  }
  #c-right-leaf{
    right: 0px;
  }
  #c-right-leaf{
    top: -5rem;
  }
  #c-right-leaf{
    width: 33.333333%;
  }
  @media (min-width: 768px){
    #c-right-leaf{
      bottom: 0px;
    }
  }
  @media (min-width: 768px){
    #c-right-leaf{
      top: auto;
    }
  }
  @media (min-width: 768px){
    #c-right-leaf{
      width: -moz-fit-content;
      width: fit-content;
    }
  }
  .list{
    width: 100%;
  }
  @media (min-width: 640px){
    .list{
      max-width: 640px;
    }
  }
  @media (min-width: 768px){
    .list{
      max-width: 768px;
    }
  }
  @media (min-width: 1024px){
    .list{
      max-width: 1024px;
    }
  }
  @media (min-width: 1280px){
    .list{
      max-width: 1280px;
    }
  }
  @media (min-width: 1536px){
    .list{
      max-width: 1536px;
    }
  }
  .list{
    position: relative;
  }
  .list{
    z-index: 10;
  }
  .list{
    margin-left: auto;
    margin-right: auto;
  }
  .list{
    display: flex;
  }
  .list{
    flex-direction: column;
  }
  .list{
    align-items: flex-start;
  }
  .list{
    justify-content: space-between;
  }
  .list{
    gap: 5rem;
  }
  .list{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .list{
    padding-top: 10rem;
  }
  @media (min-width: 768px){
    .list{
      flex-direction: row;
    }
  }
  @media (min-width: 1536px){
    .list{
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  .list {
    .popular{
      width: 100%;
    }
    .popular > :not([hidden]) ~ :not([hidden]){
      --tw-space-y-reverse: 0;
      margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
      margin-bottom: calc(2rem * var(--tw-space-y-reverse));
    }
    @media (min-width: 768px){
      .popular{
        width: -moz-fit-content;
        width: fit-content;
      }
    }
    .loved{
      width: 100%;
    }
    .loved > :not([hidden]) ~ :not([hidden]){
      --tw-space-y-reverse: 0;
      margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
      margin-bottom: calc(2rem * var(--tw-space-y-reverse));
    }
    .loved{
      padding-bottom: 5rem;
    }
    @media (min-width: 768px){
      .loved{
        width: -moz-fit-content;
        width: fit-content;
      }
    }
    @media (min-width: 768px){
      .loved{
        padding-bottom: 0px;
      }
    }
    h2{
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
    h2{
      font-weight: 500;
    }
    ul > :not([hidden]) ~ :not([hidden]){
      --tw-space-y-reverse: 0;
      margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
      margin-bottom: calc(2rem * var(--tw-space-y-reverse));
    }
    ul {
      li{
        display: flex;
      }
      li{
        align-items: flex-start;
      }
      li{
        justify-content: space-between;
      }
      li {
        h3{
          font-family: "Modern Negra", sans-serif;
        }
        h3{
          font-size: 1.25rem;
          line-height: 1.75rem;
        }
        h3{
          --tw-text-opacity: 1;
          color: rgb(231 211 147 / var(--tw-text-opacity, 1));
        }
        @media (min-width: 1536px){
          h3{
            font-size: 1.875rem;
            line-height: 2.25rem;
          }
        }
        p{
          font-size: 0.875rem;
          line-height: 1.25rem;
        }
        span{
          font-size: 1.25rem;
          line-height: 1.75rem;
        }
        span{
          font-weight: 500;
        }
      }
    }
  }
}

#about{
  width: 100%;
}

@media (min-width: 640px){
  #about{
    max-width: 640px;
  }
}

@media (min-width: 768px){
  #about{
    max-width: 768px;
  }
}

@media (min-width: 1024px){
  #about{
    max-width: 1024px;
  }
}

@media (min-width: 1280px){
  #about{
    max-width: 1280px;
  }
}

@media (min-width: 1536px){
  #about{
    max-width: 1536px;
  }
}

#about{
  margin-left: auto;
  margin-right: auto;
  min-height: 100vh;
  padding-top: 7rem;
  padding-bottom: 7rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

@media (min-width: 1536px){
  #about{
    padding-left: 0px;
    padding-right: 0px;
  }
}

#about {
  .content{
    display: grid;
  }
  .content{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .content{
    gap: 1.25rem;
  }
  @media (min-width: 1024px){
    .content{
      grid-template-columns: repeat(12, minmax(0, 1fr));
    }
  }
  .content {
    h2{
      max-width: 32rem;
    }
    h2{
      font-family: "Modern Negra", sans-serif;
    }
    h2{
      font-size: 3rem;
      line-height: 1;
    }
    @media (min-width: 768px){
      h2{
        font-size: 3.75rem;
        line-height: 1;
      }
    }
    .sub-content{
      display: flex;
    }
    .sub-content{
      flex-direction: column;
    }
    .sub-content{
      justify-content: space-between;
    }
    .sub-content > :not([hidden]) ~ :not([hidden]){
      --tw-space-y-reverse: 0;
      margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
      margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
    }
    @media (min-width: 768px){
      .sub-content{
        grid-column: span 4 / span 4;
      }
    }
    .sub-content {
      p{
        font-size: 1.125rem;
        line-height: 1.75rem;
      }
      div{
        display: flex;
      }
      div{
        flex-direction: column;
      }
      div{
        justify-content: space-between;
      }
      div{
        gap: 1.25rem;
      }
      @media (min-width: 768px){
        div{
          gap: 0.5rem;
        }
      }
      div {
        span{
          font-size: 3rem;
          line-height: 1;
        }
        span{
          font-weight: 700;
        }
        span{
          --tw-text-opacity: 1;
          color: rgb(231 211 147 / var(--tw-text-opacity, 1));
        }
      }
    }
  }
  .badge{
    margin-bottom: 2rem;
  }
  .badge{
    display: inline-block;
  }
  .badge{
    border-radius: 9999px;
  }
  .badge{
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  }
  .badge{
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .badge{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .badge{
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .badge{
    font-weight: 500;
  }
  .badge{
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity, 1));
  }
  .top-grid{
    margin-bottom: 1.25rem;
  }
  .top-grid{
    display: grid;
  }
  .top-grid{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .top-grid{
    gap: 1.25rem;
  }
  .top-grid{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  @media (min-width: 768px){
    .top-grid{
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  @media (min-width: 1280px){
    .top-grid{
      grid-template-columns: repeat(12, minmax(0, 1fr));
    }
  }
  .top-grid {
    >div{
      position: relative;
    }
    >div{
      height: 18rem;
    }
    >div{
      overflow: hidden;
    }
    >div{
      border-radius: 1.5rem;
    }
    img{
      height: 100%;
    }
    img{
      width: 100%;
    }
    img{
      -o-object-fit: cover;
         object-fit: cover;
    }
  }
  .bottom-grid{
    display: grid;
  }
  .bottom-grid{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .bottom-grid{
    gap: 1.25rem;
  }
  .bottom-grid{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  @media (min-width: 768px){
    .bottom-grid{
      grid-template-columns: repeat(12, minmax(0, 1fr));
    }
  }
  @media (min-width: 768px){
    .bottom-grid{
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  .bottom-grid {
    >div{
      position: relative;
    }
    >div{
      height: 18rem;
    }
    >div{
      overflow: hidden;
    }
    >div{
      border-radius: 1.5rem;
    }
    img{
      height: 100%;
    }
    img{
      width: 100%;
    }
    img{
      -o-object-fit: cover;
         object-fit: cover;
    }
  }
}

#art{
  position: relative;
  margin-top: 5rem;
  min-height: 100dvh;
  flex-direction: column;
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle at center,
                #434343 0%,
                #000 50%,
                transparent 100%);
  h2{
    position: relative;
  }
  h2{
    margin-bottom: 2rem;
  }
  h2{
    text-wrap: nowrap;
  }
  h2{
    text-align: center;
  }
  h2{
    font-family: "Modern Negra", sans-serif;
  }
  h2{
    font-size: 6rem;
    line-height: 1;
  }
  h2{
    line-height: 1;
  }
  h2{
    --tw-text-opacity: 1;
    color: rgb(80 80 80 / var(--tw-text-opacity, 1));
  }
  @media (min-width: 768px){
    h2{
      font-size: 20vw;
    }
  }
  .content{
    margin-top: 10rem;
  }
  .content{
    display: flex;
  }
  .content{
    flex-direction: column;
  }
  .content{
    justify-content: space-between;
  }
  .content{
    gap: 2.5rem;
  }
  @media (min-width: 768px){
    .content{
      margin-bottom: 4rem;
    }
  }
  @media (min-width: 768px){
    .content{
      margin-top: 0px;
    }
  }
  @media (min-width: 768px){
    .content{
      flex-direction: row;
    }
  }
  .cocktail-img{
    position: absolute;
  }
  .cocktail-img{
    top: 0px;
  }
  .cocktail-img{
    left: 50%;
  }
  .cocktail-img{
    height: 50vh;
  }
  .cocktail-img{
    width: 100%;
  }
  .cocktail-img{
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .cocktail-img{
    overflow: hidden;
  }
  .cocktail-img{
    border-radius: 1.5rem;
  }
  @media (min-width: 768px){
    .cocktail-img{
      top: 50%;
    }
  }
  @media (min-width: 768px){
    .cocktail-img{
      height: 70vh;
    }
  }
  @media (min-width: 768px){
    .cocktail-img{
      width: 60vw;
    }
  }
  @media (min-width: 768px){
    .cocktail-img{
      --tw-translate-y: -50%;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
  }
  .masked-container {
    h2{
      margin-bottom: 2.5rem;
    }
    h2{
      margin-top: 8rem;
    }
    h2{
      text-align: center;
    }
    h2{
      font-family: "Modern Negra", sans-serif;
    }
    h2{
      font-size: 2.25rem;
      line-height: 2.5rem;
    }
    h2{
      --tw-text-opacity: 1;
      color: rgb(255 255 255 / var(--tw-text-opacity, 1));
    }
    @media (min-width: 768px){
      h2{
        font-size: 3rem;
        line-height: 1;
      }
    }
    div{
      position: absolute;
    }
    div{
      bottom: 13rem;
    }
    div{
      left: 50%;
    }
    div{
      --tw-translate-x: -50%;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
    div > :not([hidden]) ~ :not([hidden]){
      --tw-space-y-reverse: 0;
      margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
      margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
    }
    div{
      padding-left: 1.25rem;
      padding-right: 1.25rem;
    }
    div{
      opacity: 0;
    }
    @media (min-width: 768px){
      div{
        bottom: 1.25rem;
      }
    }
    @media (min-width: 768px){
      div{
        padding-left: 0px;
        padding-right: 0px;
      }
    }
    div {
      h3{
        width: 20rem;
      }
      h3{
        text-align: center;
      }
      h3{
        font-family: "DM Serif Text", serif;
      }
      h3{
        font-size: 1.5rem;
        line-height: 2rem;
      }
      h3{
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity, 1));
      }
      @media (min-width: 768px){
        h3{
          width: 100%;
        }
      }
      @media (min-width: 768px){
        h3{
          font-size: 3rem;
          line-height: 1;
        }
      }
      p{
        text-align: center;
      }
      p{
        font-size: 1.125rem;
        line-height: 1.75rem;
      }
    }
  }
}

#menu{
  position: relative;
  margin-top: 0px;
  width: 100%;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: radial-gradient(circle at center,
                #434343 0%,
                #000 50%,
                transparent 100%);
}

@media (min-width: 768px){
  #menu{
    margin-top: 10rem;
  }
}

@media (min-width: 1536px){
  #menu{
    padding-left: 0px;
    padding-right: 0px;
  }
}

#menu {
  #m-left-leaf{
    position: absolute;
  }
  #m-left-leaf{
    bottom: -5rem;
  }
  #m-left-leaf{
    left: 0px;
  }
  #m-left-leaf{
    width: 33.333333%;
  }
  #m-left-leaf{
    -o-object-fit: contain;
       object-fit: contain;
  }
  @media (min-width: 768px){
    #m-left-leaf{
      width: -moz-fit-content;
      width: fit-content;
    }
  }
  #m-right-leaf{
    position: absolute;
  }
  #m-right-leaf{
    top: -10rem;
  }
  #m-right-leaf{
    right: 0px;
  }
  #m-right-leaf{
    width: 25%;
  }
  #m-right-leaf{
    -o-object-fit: contain;
       object-fit: contain;
  }
  @media (min-width: 768px){
    #m-right-leaf{
      width: -moz-fit-content;
      width: fit-content;
    }
  }
  .cocktail-tabs{
    position: relative;
  }
  .cocktail-tabs{
    z-index: 10;
  }
  .cocktail-tabs{
    margin-bottom: 5rem;
  }
  .cocktail-tabs{
    display: grid;
  }
  .cocktail-tabs{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .cocktail-tabs{
    gap: 2.5rem;
  }
  @media (min-width: 640px){
    .cocktail-tabs{
      margin-bottom: 8rem;
    }
  }
  @media (min-width: 768px){
    .cocktail-tabs{
      margin-left: auto;
      margin-right: auto;
    }
  }
  @media (min-width: 768px){
    .cocktail-tabs{
      max-width: 72rem;
    }
  }
  @media (min-width: 768px){
    .cocktail-tabs{
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
  @media (min-width: 768px){
    .cocktail-tabs{
      gap: 5rem;
    }
  }
  .cocktail-tabs {
    button{
      cursor: pointer;
    }
    button{
      border-bottom-width: 1px;
    }
    button{
      padding-bottom: 0.5rem;
    }
    button{
      font-family: "Modern Negra", sans-serif;
    }
    button{
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
    button{
      transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 150ms;
    }
    button:hover{
      --tw-border-opacity: 1;
      border-color: rgb(231 211 147 / var(--tw-border-opacity, 1));
    }
    button:hover{
      --tw-text-opacity: 1;
      color: rgb(231 211 147 / var(--tw-text-opacity, 1));
    }
    @media (min-width: 768px){
      button{
        font-size: 1.875rem;
        line-height: 2.25rem;
      }
    }
  }
  .content{
    width: 100%;
  }
  @media (min-width: 640px){
    .content{
      max-width: 640px;
    }
  }
  @media (min-width: 768px){
    .content{
      max-width: 768px;
    }
  }
  @media (min-width: 1024px){
    .content{
      max-width: 1024px;
    }
  }
  @media (min-width: 1280px){
    .content{
      max-width: 1280px;
    }
  }
  @media (min-width: 1536px){
    .content{
      max-width: 1536px;
    }
  }
  .content{
    position: relative;
  }
  .content{
    margin-left: auto;
    margin-right: auto;
  }
  .content{
    display: flex;
  }
  .content{
    flex-direction: column;
  }
  .content{
    align-items: center;
  }
  .content{
    justify-content: space-between;
  }
  .content {
    .arrows{
      position: absolute;
    }
    .arrows{
      display: flex;
    }
    .arrows{
      width: 100%;
    }
    .arrows{
      align-items: center;
    }
    .arrows{
      justify-content: space-between;
    }
    .arrows {
      button{
        max-width: 9rem;
      }
      button{
        cursor: pointer;
      }
      button{
        --tw-text-opacity: 1;
        color: rgb(255 255 255 / var(--tw-text-opacity, 1));
      }
      button{
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 150ms;
      }
      button:hover{
        --tw-text-opacity: 1;
        color: rgb(231 211 147 / var(--tw-text-opacity, 1));
      }
      button {
        span{
          display: none;
        }
        span{
          font-family: "Modern Negra", sans-serif;
        }
        span{
          font-size: 1.875rem;
          line-height: 2.25rem;
        }
        span{
          line-height: 1;
        }
        @media (min-width: 768px){
          span{
            display: block;
          }
        }
      }
    }
  }
  .cocktail{
    margin-top: 2.5rem;
  }
  .cocktail{
    display: flex;
  }
  .cocktail{
    align-items: center;
  }
  .cocktail{
    justify-content: center;
  }
  .cocktail {
    img{
      height: 60vh;
    }
    img{
      -o-object-fit: contain;
         object-fit: contain;
    }
  }
  .recipe{
    bottom: 0px;
  }
  .recipe{
    display: flex;
  }
  .recipe{
    width: 100%;
  }
  .recipe{
    justify-content: space-between;
  }
  .recipe{
    gap: 2.5rem;
  }
  @media not all and (min-width: 768px){
    .recipe{
      flex-direction: column;
    }
  }
  @media (min-width: 768px){
    .recipe{
      align-items: center;
    }
  }
  @media (min-width: 1024px){
    .recipe{
      position: absolute;
    }
  }
  .recipe {
    .info > :not([hidden]) ~ :not([hidden]){
      --tw-space-y-reverse: 0;
      margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
      margin-bottom: calc(1rem * var(--tw-space-y-reverse));
    }
    @media (min-width: 1024px){
      .info{
        --tw-translate-y: 5rem;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
      }
    }
    .info {
      #title{
        max-width: 10rem;
      }
      #title{
        font-family: "Modern Negra", sans-serif;
      }
      #title{
        font-size: 1.875rem;
        line-height: 2.25rem;
      }
      #title{
        --tw-text-opacity: 1;
        color: rgb(231 211 147 / var(--tw-text-opacity, 1));
      }
      @media (min-width: 768px){
        #title{
          font-size: 3.75rem;
          line-height: 1;
        }
      }
    }
    .details > :not([hidden]) ~ :not([hidden]){
      --tw-space-y-reverse: 0;
      margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
      margin-bottom: calc(1.25rem * var(--tw-space-y-reverse));
    }
    .details{
      text-align: left;
    }
    @media (min-width: 768px){
      .details{
        max-width: 28rem;
      }
    }
    .details {
      h2{
        font-family: "DM Serif Text", serif;
      }
      h2{
        font-size: 1.875rem;
        line-height: 2.25rem;
      }
      @media (min-width: 768px){
        h2{
          font-size: 3rem;
          line-height: 1;
        }
      }
      p{
        padding-inline-end: 1.25rem;
      }
      @media (min-width: 768px){
        p{
          font-size: 1.125rem;
          line-height: 1.75rem;
        }
      }
    }
  }
}

#contact{
  position: relative;
  margin-top: 0px;
  width: 100%;
  overflow: hidden;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
  background: radial-gradient(circle at center,
                #434343 0%,
                #000 50%,
                transparent 100%);
}

@media (min-width: 768px){
  #contact{
    margin-top: 5rem;
  }
}

#contact {
  #f-left-leaf{
    pointer-events: none;
  }
  #f-left-leaf{
    position: absolute;
  }
  #f-left-leaf{
    bottom: 0px;
  }
  #f-left-leaf{
    left: 0px;
  }
  #f-left-leaf{
    width: 33.333333%;
  }
  @media (min-width: 1024px){
    #f-left-leaf{
      width: -moz-fit-content;
      width: fit-content;
    }
  }
  #f-right-leaf{
    pointer-events: none;
  }
  #f-right-leaf{
    position: absolute;
  }
  #f-right-leaf{
    top: 0px;
  }
  #f-right-leaf{
    right: 0px;
  }
  #f-right-leaf{
    display: none;
  }
  @media (min-width: 1024px){
    #f-right-leaf{
      display: block;
    }
  }
  .content{
    width: 100%;
  }
  @media (min-width: 640px){
    .content{
      max-width: 640px;
    }
  }
  @media (min-width: 768px){
    .content{
      max-width: 768px;
    }
  }
  @media (min-width: 1024px){
    .content{
      max-width: 1024px;
    }
  }
  @media (min-width: 1280px){
    .content{
      max-width: 1280px;
    }
  }
  @media (min-width: 1536px){
    .content{
      max-width: 1536px;
    }
  }
  .content{
    margin-left: auto;
    margin-right: auto;
  }
  .content{
    display: flex;
  }
  .content{
    min-height: 100dvh;
  }
  .content{
    flex-direction: column;
  }
  .content{
    justify-content: space-between;
  }
  .content{
    gap: 2.5rem;
  }
  .content{
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  @media (min-width: 1024px){
    .content{
      padding-top: 3.5rem;
      padding-bottom: 3.5rem;
    }
  }
  @media (min-width: 1536px){
    .content{
      padding-top: 8rem;
      padding-bottom: 8rem;
    }
  }
  .content {
    h2{
      --tw-translate-y: 1.25rem;
      transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
    h2{
      font-family: "Modern Negra", sans-serif;
    }
    h2{
      font-size: 3rem;
      line-height: 1;
    }
    @media (min-width: 768px){
      h2{
        --tw-translate-y: 0px;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
      }
    }
    @media (min-width: 1024px){
      h2{
        font-size: 3.75rem;
        line-height: 1;
      }
    }
    @media (min-width: 1536px){
      h2{
        font-size: 6rem;
        line-height: 1;
      }
    }
    h3{
      margin-bottom: 0.5rem;
    }
    h3{
      font-size: 1rem;
      line-height: 1.5rem;
    }
    h3{
      text-transform: uppercase;
    }
    @media (min-width: 1280px){
      h3{
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
    @media (min-width: 1536px){
      h3{
        font-size: 1.125rem;
        line-height: 1.75rem;
      }
    }
    p{
      font-size: 0.875rem;
      line-height: 1.25rem;
    }
    @media (min-width: 1024px){
      p{
        font-size: 1.5rem;
        line-height: 2rem;
      }
    }
    @media (min-width: 1536px){
      p{
        font-size: 1.875rem;
        line-height: 2.25rem;
      }
    }
  }
  .drink-img{
    pointer-events: none;
  }
  .drink-img{
    position: absolute;
  }
  .drink-img{
    bottom: 0px;
  }
  .drink-img{
    right: 0px;
  }
  .drink-img{
    width: 33.333333%;
  }
  @media (min-width: 1024px){
    .drink-img{
      width: 24rem;
    }
  }
}

.flex{
  display: flex;
}

.items-center{
  align-items: center;
}

.gap-2{
  gap: 0.5rem;
}

.transition-colors{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@font-face {
  font-family: "Modern Negra";

  src: url("/fonts/ModrenNegraDemo.ttf") format("truetype");
}

html,
body {
  width: 100%;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.hover\:text-yellow:hover{
  --tw-text-opacity: 1;
  color: rgb(231 211 147 / var(--tw-text-opacity, 1));
}